body{
  background-color: rgb(20, 155, 24);
}

#todo-list{
  margin-top: 177px;
  margin-left: 77px;
  margin-right: 77px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius:10px;
}

.header {
  font-weight: bold;
  font-size: 27px;
}

#criar-tarefa{
  border-radius:10px;
  padding: 4px;
  background-color:rgb(66, 114, 216);
  color:white;
  border: none;
  outline:none;
}

#funcionamento {
  font-style: italic;
}

.selected{
  background-color: rgb(128,128,128);
}

.completed{
  text-decoration: line-through solid rgb(0, 0, 0);
}

#apaga-tudo{
  border-radius:10px;
  padding: 4px;
  background-color: rgb(13, 118, 255);
  color:white;
  border: none;
  outline:none;
}

#remover-finalizados{
  border-radius:10px;
  padding: 4px;
  background-color: rgb(143, 2, 2);
  color:white;
  border: none;
  outline:none;
}

#remover-selecionado{
  border-radius:10px;
  padding: 4px;
  background-color: rgb(143, 2, 2);
  color:white;
  border: none;
  outline:none;
}

#buttons{
  margin-top: 30px;
}

#lista-tarefas li{
  width: fit-content;
  border-radius:10px;
  padding: 4px;
  margin-top: 2px;
}
